﻿@model IEnumerable<ToDo.Models.User>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @if (Request.IsAuthenticated)
    {
        <p class="lead">You successfully logged in.</p>
        <p class="lead">Continue <a href="/Task/Index">here</a></p>
    }
    else
    {
        <h1>Hi!</h1>
        <p class="lead">You should log in first.</p>
    }
    
</div>
