﻿@model IEnumerable<ToDo.Models.Task>
@{
    ViewBag.Title = "Tasks list";
}
<script type="text/javascript">
    $("#CheckOff").click(function () {
        $.post("demo_test_post.asp",
        {
            name: "Donald Duck",
            city: "Duckburg"
        },
        function (data, status) {
            alert("Data: " + data + "\nStatus: " + status);
        });
    });
</script>

<div class="jumbotron">
    <h1>I should do this list!</h1>
</div>

<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-primary" href="/Task/Create">Add new task</a>
    </div>
</div>
<br/>

<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-bordered">
            <tr>
                <td>ID</td>
                <td>Title</td>
                <td>Description</td>
                <td>Due Date</td>
                <td>Status</td>
                <td>Actions</td>
            </tr>
            @foreach (ToDo.Models.Task b in Model)
            {
                <tr>
                    <td><p>@b.Id</p></td>
                    <td><p>@b.Title</p></td>
                    <td><p>@b.Description</p></td>
                    <td><p>@b.DueDate</p></td>
                    <td><p>@b.Status</p></td>
                    <td>
                        <a class="btn btn-success" id="CheckOff">Check off</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>